.header-content{
    background-color: black;
    color: white;
    text-transform: capitalize;
    margin: 30px;
    padding: 20px;
    height: fit-content;
    text-align: center;
    width: 100%;
}
.header-content p{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: white;
    text-align: center;
}
p{
    font-size: 1.2em;
    color: darkred;
}
nav a{
    margin: 50px;
    color: darkgoldenrod;
}
h1{
    margin: 1px;
    text-align: center;
    color: goldenrod;
}
h2{
    text-align: center;
    color: darkorange;
    display: block;
    font-size: 2em;
    font-weight: bold;
    height: fit-content;
    text-decoration: underline;
}
#Gallery{
    height: fit-content;
    width: 100%;
} 
form{
    text-align: center;
}
.Photo-Library img{
    border: 0px solid black;
    height: 150px;
    width: 200px;
    margin: 20px;
    padding: 10px;
}

.Projects{
    text-align: left;
    margin: 20px;
    border: 2px solid blue;
    background-color: moccasin;
}

.contact{
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: large;
}
#Testimonials{
    text-align: center;
    margin: 30px;
}
.Review{
    font-size: 20px;
    color: darkgreen;
    border: 2px solid darkblue;
    background-color: moccasin;
}
footer{
    text-align: center;
}
footer p{
    background-color: black;
    color: white;
    display: block;
}
.Contacts button{
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 5cap solid darkgray;
    background-color: darkorange;
    height: fit-content;
}
button:hover{
    background-color: darkgray;
    color: black;
}