.header-content{
    background-color: black;
    color: white;
    text-transform: capitalize;
    margin: 30px;
    padding: 20px;
    height: fit-content;
    width: 100%;
    text-align: center;
}
p{
    color: violet;
}
nav a{
    margin: 50px;
    color: darkgoldenrod;
}
h2{
    text-align: center;
    color: deepskyblue;
    display: block;
    text-decoration: underline;
}
#Gallery{
    height: fit-content;
    width: 100%;
} 
.Photo-Library img{
    border: 0px solid black;
    height: 150px;
    width: 200px;
    margin: 20px;
    padding: 10px;
}